@charset "utf-8";

/* common s */
#container {width: 2000vh;}
.section, .cont {float: left; height: 100vh;}

.menu { box-sizing: border-box; font-family: 'Nanum Myeongjo', serif;}
.menu .tit {display: block; font-size: 3.106vh;}
.menu .txt {display: block; font-size: 1.863vh; margin-top: 1vh;}

.arrow {display: block; width: 4.141vh; height: 4.762vh; background: url("/yujin-portfolio/asset/img/arrow-gray.png")no-repeat center/contain; text-indent: -999999px;}

.ptt {padding: 0 6.5vh; position: relative; float: left; box-sizing: border-box; height: 100%; width: 15.528vh; border-left: 1px solid #ddd;}
.ptt .arrow {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.section .ptt {display: -webkit-box; display: -ms-flexbox; display: flex;}
.section .ptt .ptt-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; opacity: 0; transform: translateX(-20px);}
.section .ptt .ptt-box .menu {float: left;}
.section .ptt .ptt-box .arrow {position: static; transform: none; float: right;}

.top-box, .bt-box {height: 50vh;}
.bt-box {border-top: 1px solid #ddd; box-sizing: border-box;}

.view-btn {display: block; transition: all .3s ease-in-out; font-family: 'Nanum Myeongjo', serif;}
.view-btn:hover {background-color: #111; color: #fff;}
#section4 .view-btn { width: 100%; height: 8.282vh; position: absolute; bottom: 0; left: 0; text-align: center; line-height: 8.282vh; border-top: 1px solid #ddd; box-sizing: border-box; font-family: 'Nanum Myeongjo', serif; font-size: 1.863vh; }

.supah-scroll {position: fixed; z-index: 1; top: 0; left: 0; height: auto; will-change: transform; overflow: hidden;}

.cont .c-box1, .cont .c-box2, .cont .c-box3 {opacity: 0; transform: translateY(-50px);}

/* common e */

/* progress s */
body { height: 100%; overflow: hidden; }
body.active { height: auto; overflow: auto; }
.progress {background: #000; color: #f6f6ee; height: 100vh; width: 100%; position: absolute; z-index: 5000;}
.progress-bar {	border-top: 1px solid rgb(246,246,238);	position: absolute;	top: 50%; width: 0%;}
.progress-text {font: 14px;	margin-top: 10px; position: absolute; text-align: center; top: 50%; width: 100%;}
.progress-complete .progress-bar {border-top-color: rgb(246,246,238);}
/* progress e */

/* section1 s */
#section1 #cont1 {width: 133vh; position: relative;}
#section1 #cont1:after {content:"";width: 1px; height: 0vh; background-color: #ddd; position: absolute; top: 0; right: 0; transition: all 1s linear 1.7s;}
#section1.on #cont1:after {height: 100vh;}
#section1 #cont1 #top-cont {height: 84.886vh; position: relative;  box-sizing: border-box;}
#bar1 { width: 0%; height: 1px; background-color: #ddd; position: absolute; bottom: 0; right: 0;}
#bar2 { width: 1px; height: 0; background-color: #ddd; position: absolute; top: 0; right: 0;}
#bar3 { width: 1px; height: 0; background-color: #ddd; position: absolute; top: 0; right: 0;}
#section1 #cont1 #img-box {width: 55vh; height: 100%;  float: left; position: relative;}
#section1 #cont1 #img-box #hide {position: absolute; width: 100%; height: 100%; background-color: #fff; top: 0; right: 0; z-index: 1;}
#section1 #cont1 #img-box .in-img{width: 100%; height: 100%;background: url("/yujin-portfolio/asset/img/main_img.jpg")no-repeat center/cover;position: relative;}
#section1 #cont1 #txt-box {float: left; width: 78vh; height: 100%; box-sizing: border-box; padding: 10vh 8vh 0;}
#section1 #cont1 .title {position: relative; font-size: 4.141vh; opacity: 0; transform: translateY(-50px);}
#section1 #cont1 .s-tit {font-size: 1.863vh; color: rgba(0,0,0,0.6); margin: 5vh 0; opacity: 0;transform: translateY(-50px);}
#section1 #cont1 #main-txt {opacity: 0;transform: translateY(-50px);}
#section1 #cont1 .txt p{line-height: 180%;}
#section1 #cont1 .txt p:last-child{margin-top: 6vh; text-decoration: underline;}
#section1 #cont1 .name {position: absolute; bottom: 5vh; right: 5vh; font-size: 2.07vh; font-weight: 600; opacity: 0; transform: translateX(50px);}


#section1 #navi {height: 15.528vh; opacity: 0; transform: translateY(50px);}
#section1 #navi a {display: block; box-sizing: border-box; float: left; }
#section1 #navi nav {height: 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}


#section1 .menu{padding: 5vh 10vh;}
#section1 .ptt {border-left: none; width: 22vh; padding: 0 4vh;}
#section1 .ptt-box {animation: goLeft 1s ease-in-out .1s infinite;}


/* section1 e */
/* section2 s */
#section2 #cont2 {position: relative; box-sizing: border-box;}
#section2 #cont2.on:before {height: 100vh;}
#section2 #cont2 .box {width: 41.408vh; position: relative;}
#section2 #cont2 .top-box {opacity: 0; transform: translateY(-50px);}
#section2 #cont2 .top-box .menu {position: absolute; bottom: 40px; left: 40px;}
#section2 #cont2.on .top-box .menu .tit {animation: fadeInDown 1.2s ease-in-out 1.5s forwards;}
#section2 #cont2.on .top-box .menu .txt {animation: fadeInDown 1.2s ease-in-out 1.7s forwards;}
#section2 #cont2 .bt-box .img {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); width: 80%; height: 80%; overflow: hidden;}
#section2 #cont2.on .bt-box .img {animation: fadeIn 1.2s ease-in-out 1.5s forwards;}

#section2 #cont2 .bt-box .img .in-img{background: url("/yujin-portfolio/asset/img/about_img.jpg")no-repeat center/cover; width: 120%; height: 100%; text-indent: -9999px;}
#section2 #cont2 .bt-box {border-top: none; position: relative; opacity: 0; transform: translateY(50px);}
#bar4 { width: 0%; height: 1px; background-color: #ddd; position: absolute; top: 50%; transform: translateY(-50%); left: 0;}

#section2 #cont3 {border-left: 1px solid #ddd; box-sizing: border-box; width: 119vh;}
#section2 #cont3 .top-box p{font-size: 5.176vh; line-height: 150%;}
#section2 #cont3 .top-box {padding: 10vh 8vh; box-sizing: border-box;}
#section2 #cont3 .bt-box .box-cont {float: left; padding: 13vh 8vh; box-sizing: border-box;}
#section2 #cont3 .bt-box .box-cont:first-child{width: 64.88vh;}
#section2 #cont3 .bt-box .box-cont:last-child{width: 54vh; border-left: 1px solid #ddd; box-sizing: border-box;}

#section2 #cont3 .bt-box .box-cont p:last-child {margin-top: 3vh;}
#section2 #cont3 .bt-box .box-cont p {line-height: 180%;}
#section2 #cont3 .t-box, #section2 #cont3 .t-box2, #section2 #cont3 .t-box3 {opacity: 0; transform: translateY(-20px);} 

/* section2 e */
/* section3 s */
#section3 .ptt {width: 39vh;}

#section3 #cont4 {border-left: 1px solid #ddd;  border-right: 1px solid #ddd; box-sizing: border-box;}
#section3 #cont4 .sk-box {width: 62.629vh; height: 33.333vh; padding: 8vh; box-sizing: border-box; opacity: 0; transform: translateY(-50px);}
#section3 #cont4 .sk-box:first-child {padding-top: 10vh;}
#section3 #cont4 .sk-box .tit {font-size: 3.106vh;}
#section3 #cont4 .sk-box .txt {line-height: 180%; margin-top: 2vh; word-break: keep-all;}

#section3 #cont5 { box-sizing: border-box; width: 43.478vh; padding: 10vh 8vh; opacity: 0; transform: translateX(50px);}
#section3 #cont5 .tit {font-size: 3.106vh;}
#section3 #cont5 .etc-box p {font-size: 2.484vh; color: #aaa; margin-top: 3.8vh;}
/* section3 e */
/* section4 s */
#section4 .ptt {width: 39.13vh;}
#section4 .cont .num {float: left; height: 100vh; padding: 5vh; box-sizing: border-box; border-left: 1px solid #ddd;display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#section4 .cont .img-box {float: left; width: 62.112vh; height: 100vh; overflow: hidden;}
#section4 .cont .img-box .in-img {width: 135vh; height: 100vh; background: url("/yujin-portfolio/asset/img/car_img1.jpg")no-repeat center/cover; text-indent: -9999px;}
#section4 .cont .ct-box {float: left; width: 62.112vh;}
#section4 .cont .ct-box .box {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
#section4 .cont .ct-box .box img{ display: block; width: 39.959vh; opacity: 0; transform: translateY(-50px);}

#section4 #cont6 .bt-box {display: block; position: relative;}
#section4 #cont6 .bt-box .txt-box {padding: 7vh; opacity: 0; transform: translateY(-50px);}
#section4 #cont6 .bt-box .txt-box .tit {font-size: 3.106vh;}
#section4 #cont6 .bt-box .txt-box .txt {line-height: 180%;margin-top: 3vh; font-size: 1.863vh; word-break: keep-all;}


#section4 #cont7 .img-box .in-img{background: url("/yujin-portfolio/asset/img/car_img2.jpg")no-repeat center/cover;}
#section4 #cont8 .img-box .in-img{background: url("/yujin-portfolio/asset/img/car_img3.jpg")no-repeat center/cover;}
#section4 #cont9 .img-box .in-img{background: url("/yujin-portfolio/asset/img/car_img4.jpg")no-repeat center/cover;}
#section4 .cont .ct-box2 {float: left; width: 62.112vh; position: relative; height: 100vh; border-left: 1px solid #ddd; box-sizing: border-box;}

#section4 .cont .ct-box2 .box {padding: 6.5vh 8vh; box-sizing: border-box;}
#section4 .cont .ct-box2 .t-box.box {padding-top: 8vh; border-top: none; height: 39.13vh;}
#section4 .cont .ct-box2 .m-box {height: 21.739vh;}
#section4 .cont .ct-box2 .b-box {height: 31.056vh;}

#section4 .cont .ct-box2 .box {border-top: 1px solid #ddd; box-sizing: border-box;}
#section4 .cont .ct-box2 .tit {font-size: 3.106vh; font-family: 'Nanum Myeongjo', serif;}
#section4 .cont .ct-box2 .txt {margin-top: 4vh; word-break: keep-all; line-height: 200%;}
#section4 .cont .ct-box2 .tit2 {font-size: 2.07vh; font-family: 'Nanum Myeongjo', serif;}
#section4 .cont .ct-box2 .m-box .ct {display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 3vh;}
#section4 .cont .ct-box2 .m-box .ct p .txt {color: rgba(0,0,0,0.4); display: inline-block; font-weight: 400; margin-top: 0;}
#section4 .cont .ct-box2 .m-box .ct p .per {    display: inline-block; width: 10.352vh;margin-left: 2vh;   box-sizing: border-box; border-radius: 1.863vh; height: 3.623vh; line-height: 3.623vh; text-align: center; box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);}
#section4 .cont .ct-box2 .m-box .ct p {margin-left: 3vh;}
#section4 .cont .ct-box2 .m-box .ct p:first-child {margin-left: 0;}

#section4 .cont .ct-box2 .b-box .ct { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 1.5vh;}

#section4 .cont .ct-box2 .b-box .ct p {margin-top: 2.5vh; margin-right: 10%; width: 18vh; max-width: 175px; display: -webkit-box;  display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;} 
#section4 .cont .ct-box2 .b-box .ct p span {display: inline-block; vertical-align: middle;}
#section4 .cont .ct-box2 .b-box .ct p .txt {    color: rgba(0,0,0,0.4); display: inline-block;font-weight: 400; margin-top: 0; line-height: 100%;}
#section4 .cont .ct-box2 .b-box .ct p .ico {display: inline-block;
  width: 2.1vh;height: 2.1vh; background: url("/yujin-portfolio/asset/img/chk_bk.png")no-repeat center/contain;}

/* section4 e */
/* section5 s */
#section5 .ptt {width: 16.5vh;}
#section5 .ptt .menu .tit {font-size: 1.863vh;}
#section5 #cont10 .ct-wrap {display: -webkit-box;  display: -ms-flexbox; display: flex;  -webkit-box-lines: multiple; -ms-flex-wrap: wrap; flex-wrap: wrap;-webkit-box-orient: vertical; -ms-flex-direction: column; flex-direction: column; float: left; height: 100vh; transition: all .3s ease-in-out;}
#section5 #cont10 .ct-wrap.active {width: 150.933vh;}
#section5 #cont10 .ct-wrap {width: 0; overflow: hidden;}
#section5 #cont10 .ct-box{border-left: 1px solid #ddd; height: 50vh; width: 50.311vh; position: relative;border-bottom: 1px solid #ddd; box-sizing: border-box;}
#section5 #cont10 .ct-box .tit-box {height: 6.211vh; border-bottom: 1px solid #ddd; box-sizing: border-box; line-height: 6.211vh; padding: 0 3vh; font-size: 2.07vh; font-family: 'Chosunilbo_myungjo', serif;}
#section5 #cont10 .ct-box .b-box {height: 6.211vh; position: absolute; bottom: 0; left: 0; width: 100%;}
#section5 #cont10 .ct-box .img {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 37.888vh;}
#section5 #cont10 .ct-box .img img {display: block; width: 31.056vh;}
#section5 #cont10 .ct-box .b-box {border-top: 1px solid #ddd; box-sizing: border-box;}
#section5 #cont10 .ct-box .b-box .work {float: left; width: 75%; padding: 0 3vh; box-sizing: border-box;}
#section5 #cont10 .ct-box .b-box .work p {line-height: 6.211vh; display: inline-block; margin-left: 1.5vh;}
#section5 #cont10 .ct-box .b-box .work p:first-child {margin-left: 0;}
#section5 #cont10 .ct-box .b-box .work p .txt {color:rgba(0,0,0,.6);}
#section5 #cont10 .ct-box .b-box .work p .per {margin-left: 1vh;}
#section5 #cont10 .ct-box .b-box .view-btn {float: right; width: 25%; line-height: 6.211vh; border-left: 1px solid #ddd; box-sizing: border-box; text-align: center;}

#section5 .big-view-btn {width: 33.747vh; transition: all .3s ease-in-out; padding: 0;}
#section5 .big-view-btn .tit { text-decoration: underline;}
#section5 .big-view-btn.on .tit{display: none;}
#section5 .big-view-btn.on .menu, #section5 .big-view-btn.on .menu .tit {display: block;text-decoration: none;;}
#section5 .big-view-btn.on .menu .tit {font-size: 3.106vh;}

#section5 .big-view-btn .menu{display: none;}
#section5 .big-view-btn a {display: block; width: 100%; height: 100%; position: relative;display: -webkit-box; display: -ms-flexbox; display: flex;padding: 0 6.5vh;}
#section5 .big-view-btn.on a{cursor: default;}
/* section5 e */
/* section6 s */
#section6 #cont11 {border-left: 1px solid #ddd; border-right: 1px solid #ddd; box-sizing: border-box; width: 111.801vh;}
#section6 #cont11 .top-box {padding: 10vh 8vh;box-sizing: border-box; height: 55.901vh;}
#section6 #cont11 .top-box div {margin-top: 3vh;}
#section6 #cont11 .top-box div:first-child {margin-top: 0;}
#section6 #cont11 .top-box p {font-size: 4.658vh; line-height: 140%;}
#section6 #cont11 .bt-box {height: 44.72vh;}
#section6 #cont11 .box-cont {float: left; width: 45%; padding: 8vh; box-sizing: border-box;}
#section6 #cont11 .box-cont:last-child{width: 55%;}
#section6 #cont11 .box-cont .tit {font-size: 2.07vh;}
#section6 #cont11 .box-cont:last-child {border-left: 1px solid #ddd; box-sizing: border-box;}

#section6 #cont11 .box-cont .if-box {margin-top: 4vh;}
#section6 #cont11 .box-cont .if-box p {margin-top: 2.5vh;}
#section6 #cont11 .box-cont .if-box p:first-child {margin-top: 0;}
#section6 #cont11 .box-cont .if-box p span{display: inline-block; vertical-align: middle;}
#section6 #cont11 .box-cont .if-box p .tt {color:rgba(0,0,0,0.4); width: 30%;}
#section6 #cont11 .box-cont .if-box p .txt {width: 70%;}

#section6 #cont11 .box-cont .ip-box {margin-top: 2vh;}
#section6 #cont11 .box-cont .ip-box input {border: 1px solid #111; box-sizing:  border-box; padding: 1vh; float: left; width: 49.5%;}
#section6 #cont11 .box-cont .ip-box input:last-child{float: right;}
#section6 #cont11 .box-cont .ip-box textarea {height: 13.458vh; border: 1px solid #111; margin-top: .5vh;}
#section6 #cont11 .box-cont .ip-box button {    display: block;  width: 100%; height: 4.141vh; line-height: 4.141vh;  background-color: #111; border-radius: 5px; transition: all .3s ease-in-out;  margin-top: .5vh; border: none; cursor: pointer; color: #fff;}
#section6 #cont11 .box-cont .ip-box button:hover {background-color: #aaa; color: #111;}

#section6 #cont11 #fBox, #section6 #cont11 .ctt-box, #section6 #cont11 .send-box {opacity: 0; transform: translateY(-50px);}

#section6 #cont12 {position: relative; width: 49.172vh; padding: 0 8vh; box-sizing: border-box;}
#section6 #cont12 .end-top {position: absolute; top: 50%; transform:  translateX(50px) translateY(-50%); cursor: pointer; opacity: 0; }
#section6 #cont12 .end-top div {display: inline-block; vertical-align: middle;}
#section6 #cont12 .end-top .b-arrow {width: 8.592vh; height: 9.938vh; background: url("/yujin-portfolio/asset/img/arrow_bk.png")no-repeat center/contain; }
#section6 #cont12 .end-top .txt {margin-left: 3vh;}


/* section6 e */
/* darkmode s */

:root{
  --background: #111;
  --color:#fff;
  --border-color:#333;
}

#theme {position: fixed;  width: 10.352vh; height: 10.352vh; background-color: #111; text-align: center;  z-index: 999; border-radius: 6vh; cursor: pointer; bottom: 3.106vh; right: 3.106vh; opacity: 0;}
#theme .tm-box {padding-top: 1.5vh;}
#theme .tm-box.lightT {display: none;}
.dark #theme .tm-box.darkT {display: block;}
#theme .tm-box span {display: block;}
#theme .tm-box span.ico {width: 100%; height: 3.934vh; background: url("/yujin-portfolio/asset/img/theme_ico.png")no-repeat center -8.35vh/4.75vh;}
#theme .tm-box span.txt {color: #fff; font-size: 1.242vh; text-align: center; margin-top: 1vh;}

.dark #theme {background-color: #fff;}
.dark #theme .tm-box.lightT {display: block;}
.dark #theme .tm-box.darkT {display: none;}
.dark #theme .tm-box span.ico {background-position: center 0vh; height: 4.74vh;}
.dark #theme .tm-box span.txt {color: #111; margin-top: 0.5vh;}

.dark {background-color: var(--background); color: var(--color);}
.dark a {color: var(--color);}
.dark body {color: #fff;}
.dark #section1 #cont1 .s-tit {color: rgba(255,255,255,.6);}
.dark .menu span {color: #fff;}
.dark #bar1, .dark #bar2, .dark #bar3 , .dark #bar4 {background-color: #333;}
.dark .section .view-btn {border-color: var(--border-color); color: var(--color);}
.dark .section .view-btn:hover {background-color: #333;}
.dark #section4 .view-btn, .dark .bt-box, .dark #section4 .cont .num, .dark #section4 .cont .ct-box2, .dark #section4 .cont .ct-box2 .box, .dark #section4 .cont .ct-box2 .box, .dark .ptt, .dark #section5 #cont10 .ct-box, .dark #section5 #cont10 .ct-box .tit-box, .dark #section5 #cont10 .ct-box .b-box, .dark #section5 #cont10 .ct-box .b-box .view-btn, .dark #section6 #cont11, .dark #section6 #cont11 .box-cont:last-child, .dark #section3 #cont4, .dark #section2 #cont3 .bt-box .box-cont:last-child, .dark #section2 #cont3{border-color: var(--border-color);}

.dark #section4 .cont .ct-box2 .m-box .ct p .txt {color: var(--color);}
.dark #section4 .cont .ct-box2 .m-box .ct p .per {background-color: #fff; color: #111; box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.2);}
.dark #section4 .cont .ct-box2 .b-box .ct p .txt {color: var(--color);}
.dark #section4 .cont .ct-box2 .b-box .ct p .ico {background: url("/yujin-portfolio/asset/img/chk_wt.png")no-repeat center/contain;}
.dark#section5 #cont10 .ct-box .b-box .work p .txt,.dark #section6 #cont11 .box-cont .if-box p .tt, .dark #section5 #cont10 .ct-box .b-box .work p .txt {color: var(--color); opacity: .6;}
.dark #section5 .big-view-btn .tit {color: var(--color);}
.dark #section6 #cont11 .box-cont .ip-box button {background-color: #fff; color: #111;}
.dark #section6 #cont11 .box-cont .ip-box input, .dark #section6 #cont11 .box-cont .ip-box textarea {border-color: #fff; background-color: transparent; color: var(--color);}
.dark #section6 #cont12 .end-top .b-arrow {background: url("/yujin-portfolio/asset/img/arrow_wt.png")no-repeat center/contain;}


@media screen and (max-width : 1024px){

  #theme .tm-box.tm-box.lightT {padding-top: 2.8vh;}
  #theme .tm-box.tm-box.darkT {padding-top: 3vh;}
  #theme .tm-box span.txt {display: none;}
}

@media screen and (max-height : 750px){

  #theme .tm-box.tm-box.lightT {padding-top: 2.8vh;}
  #theme .tm-box.tm-box.darkT {padding-top: 3vh;}
  #theme .tm-box span.txt {display: none;}
}


